

/.gradle/
/.idea/
/general/Internationalization/.gradle/
/general/Internationalization/gradle/
/liquibase/.gradle/
/liquibase/.idea/
/liquibase/build/
/liquibase/gradle/

/liquibasev1/.gradle/
/liquibasev1/.idea/
/liquibasev1/build/
/liquibasev1/gradle/

/general/Profiling/.gradle/
/general/Profiling/gradle/
/general/db-migration/liquibase/.gradle/
/spring-hal-browser-example/gradle/wrapper/
/general/Internationalization/build/
/general/db-migration/liquibase/build/
/general/db-migration/liquibasev1/.gradle/
/general/db-migration/liquibasev1/build/
/general/db-migration/liquibasev1/gradle/wrapper/
/general/Profiling/.gradle/
/general/Profiling/gradle/
/general/Profiling/.gradle/
